*{
    margin: 0;
    padding: 0;
    font-family:'Yanone Kaffeesatz', sans-serif;
}

/*--header--*/

.header{
    background: url(images/background.png) no-repeat center top;
    background-position: center;
    background-size: cover;
    background-size: 100% 100%;
    height: 100vh;
}

.logo{
    margin-top: 20px;
    width: 100px;
}
.header-text{
    max-width: 350px;
    margin-top: 120px;
}

.header-text h1{
    font-size: 34px;
}

.header-text p{
    font-size: 15px;
    color: #777;
    line-height: 18px;
}

.square{
height: 12px;
width: 12px ;
background-color: #f67c92;
display: inline-block;
}

.common-btn{
    border: 2px solid  #f67c92 ;
    padding: 18px 40px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    outline: none;
}
.header-text button{
    margin-top: 10px;
    margin-bottom: 60px;
}
.line-1{
    height: 15px;
    width: 15px ;
    background-color: #f67c92;
    display: inline-block;
}
.line-2{
    height: 1px;
    width: 80px ;
    background-color: #f67c92;
    display: inline-block;
}
.line-3{
    height: 1px;
    width: 60px ;
    background-color: #f67c92;
    display: inline-block;
}

.line{
    line-height: 8px;
}
/*--nav--*/
#side-nav{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px;
    background: #f67c92 ;
    z-index: 2;
    transition: .5s;
}

nav ul li{
    margin:50px 30px ;
    list-style: none;

}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;

}

nav ul li a:hover{
    text-decoration: none;
    color: white;
    font-size: 2rem;  
}
#menu-btn{
    position: fixed;
    top: 35px;
    right: 65px;
    width: 50px;
    z-index: 2;
    cursor: pointer;
}
/*--about--*/
.about .offer{
   padding: 100px 0;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}

.about-right-col{
    flex-basis: 50%;
    text-align: right;
}

.about-text{
    max-width: 400px;
    margin-right: 100px;
    display: inline-block;
}

.about-text h2{
    margin: 50px 0 10px;
    font-size: 30px;
    font-style: italic;
}

.about-text h3{
    font-size: 20px;
    font-style: italic;
    color: #797979;
}
/*---features--*/
.features{
    padding-top: 50px;
    padding-left: 50px;
}

.feature-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.feature-col{
    flex-basis: 25%;
    text-align: center;
}

.feature-col img{
    width: 100%;
}
.feature-col h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;

}


.feature-btn{
    margin: 80px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-btn .line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;

}

/*--courses--*/

.courses{
    padding: 100px 0;

}
.course-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.course-right-col{
    flex-basis: 50%;
}
.course-right-col img {
    width: 100%;
}

.course-left-col{
    flex-basis: 50%;
}

.course-text{
    max-width: 350px;
}

.course-text button{
    margin: 30px 0;
}

/*--offer--*/
.offer button{
    margin: 30px 0;
}

/**--contact---*/
.contact-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-left-col, .contact-right-col{
    flex-basis: 50%;
}

.contact-right-col img{
    width: 100%;
}
.contact-left-col form{
    max-width: 350px;
    padding: 20px 10px;

}

.btn-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-box button{
    flex-basis: 48%;
    padding: 18px 0;
    border-radius: 5%;
}

/*--footer--*/
.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #f67c92;
}

.footer-left-col{
    flex-basis: 50%;
    margin-top: 60px;
}

.footer-right-col{
    flex-basis: 35%;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.links-title h4{
    color: #fab3c4;
    margin-bottom: 20px;
}
.links-title small{
    font-size: 13px;
    color: #777;
}

.footer-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo img{
    width: 100px;
}

.footer-logo button{
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;
}

.copyright-text ,.footer-logo{
    flex-basis: 40%;
}
/*--social-**/
.social-icons{
    width: 5%;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.social-icons img{
    display: block;
    width: 20px;
    margin: 0 auto 20px ;
    cursor: pointer;
}